/* ------------------------------------ */
/* Firefox Translucent Tabbar for macOS */
/* ------------------------------------ */

:root #navigator-toolbox {
  /*background-image: linear-gradient(to top, hsla(280,6%,20%,0.8) 0%, hsla(280,6%,20%,0.6) 46%, hsla(280,30%,10%,0) 46%, hsla(280,30%,10%,0) 65%) !important;*/
}

:root:not(:-moz-window-inactive) #navigator-toolbox {
  background-color: transparent !important; 
  /*background-image: linear-gradient(to top, hsla(280,6%,20%,0.8) 0%, hsla(280,6%,20%,0.6) 46%, hsla(280,30%,10%,0) 46%, hsla(280,30%,10%,0) 65%) !important;*/
}

:root[lwthemetextcolor="bright"] #navigator-toolbox {
  background-image: linear-gradient(to top, hsla(280,6%,40%,0.8) 0%, hsla(280,6%,40%,0.6) 46%, hsla(280,30%,10%,0.3) 46%, hsla(280,30%,10%,0.3) 65%) !important;
}
:root:not(:-moz-window-inactive)[lwthemetextcolor="bright"] #navigator-toolbox {
  background-color: transparent !important;
  background-image: linear-gradient(to top, hsla(280,6%,40%,0.8) 0%, hsla(280,6%,40%,0.6) 46%, hsla(280,30%,10%,0.3) 46%, hsla(280,30%,10%,0.3) 65%) !important;
}

:root #TabsToolbar,
:root #titlebar,
:root #tabbrowser-tabs {
   -moz-appearance: -moz-mac-vibrant-titlebar-light !important;
   background-color: transparent !important;
}

:root:not([lwthemetextcolor="bright"]) #TabsToolbar,
:root:not([lwthemetextcolor="bright"]) #titlebar,
:root:not([lwthemetextcolor="bright"]) #tabbrowser-tabs  {
  color: #000 !important;
}

:root[lwthemetextcolor="dark"] #TabsToolbar,
:root[lwthemetextcolor="dark"] #titlebar,
:root[lwthemetextcolor="dark"] #tabbrowser-tabs {
   -moz-appearance: -moz-mac-vibrant-titlebar-light !important;
}

:root[lwthemetextcolor="bright"] #TabsToolbar,
:root[lwthemetextcolor="bright"] #titlebar,
:root[lwthemetextcolor="bright"] #tabbrowser-tabs {
   -moz-appearance: -moz-mac-vibrant-titlebar-dark !important;
}

:root:-moz-window-inactive #TabsToolbar,
:root:-moz-window-inactive #titlebar,
:root:-moz-window-inactive #tabbrowser-tabs {
   -moz-appearance: none !important;
}

:root[lwthemetextcolor="bright"]:-moz-window-inactive {
  --lwt-accent-color-inactive: rgb(40,40,40) !important;
}

:root[lwthemetextcolor="dark"] .tabbrowser-tab:not([selected="true"]):hover {
   /*background-color: rgba(0,0,0,0.1) !important;*/
}

:root:not([lwthemetextcolor="bright"]) .tabbrowser-tab:not([selected="true"]) {
  color: #000 !important;
}

:root[lwthemetextcolor="bright"] {
  /*--lwt-background-tab-separator-color: rgba(255,255,255,0.5);
  --lwt-selected-tab-background-color: rgb(55,55,55);
  --toolbar-bgcolor: rgb(55,55,55) !important;
  --tabs-border-color: rgba(0,0,0,0.8);*/
  --tab-line-color: hsla(280,30%,80%,0.9) !important;
}

:root[lwthemetextcolor="bright"] .tabbrowser-tab:not([selected="true"]):hover {
   /*background-color: rgba(255,255,255,0.1) !important;*/
}

/* improve border visiblity for selected tabs */
:root:not(:-moz-window-inactive)[lwthemetextcolor="bright"] .tabbrowser-tab[selected="true"] .tab-background {
   box-shadow: 0 0 2px hsla(280,50%,0%,0.5), 0 0 0 1px hsla(280,50%,90%,0.1) inset !important;
}

:root #nav-bar {
  border-top: 1px solid hsla(280,6%,0%,0.15);
}

:root[lwthemetextcolor="bright"] #nav-bar {
  border-top: 1px solid hsla(280,6%,40%,0.3);
}